/* line 9, ../scss/style.scss */
.play-wrapper {
  background-color: #171616;
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 190px;
}

/* line 17, ../scss/style.scss */
.play-control {
  background-color: #282828;
  color: #fff;
  padding: 2vw 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
/* line 24, ../scss/style.scss */
.play-control .play-control-left {
  display: inline-block;
  width: 20vw;
}
/* line 28, ../scss/style.scss */
.play-control .play-control-center {
  display: inline-block;
  vertical-align: middle;
  width: 50vw;
}
/* line 35, ../scss/style.scss */
.play-control .play-control-right {
  width: 20vw;
  display: inline-block;
  margin-left: 6vw;
}

/* line 42, ../scss/style.scss */
#jquery-ui-slider-value-1,
#jquery-ui-slider-value-2,
#jquery-ui-slider-value-3,
#jquery-ui-slider-value-volume {
  border: 0;
  color: #fff !important;
  font-weight: bold;
  background-color: transparent;
  margin: 5px;
}

/* line 53, ../scss/style.scss */
.play-now {
  color: #fff;
  text-align: center;
}
/* line 56, ../scss/style.scss */
.play-now h2 {
  font-size: 4vw;
  font-weight: bold;
}
/* line 60, ../scss/style.scss */
.play-now img {
  width: 20vw;
}
/* line 63, ../scss/style.scss */
.play-now p {
  margin-top: 1vw;
  font-size: 2vw;
}

/* line 69, ../scss/style.scss */
.play-list {
  margin-top: 2vw;
  text-align: center;
}
/* line 72, ../scss/style.scss */
.play-list li {
  padding: 0 2vw;
}
/* line 75, ../scss/style.scss */
.play-list li a img {
  width: 15vw;
}
/* line 79, ../scss/style.scss */
.play-list li p {
  color: #fff;
}

/* line 86, ../scss/style.scss */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border-radius: 50px;
}
